<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="hf/head.html :: head">
    <title>Авторы</title>
</head>
<body>
<style>
    .search {
        float: right;
    }
</style>

<header th:insert="~{hf/header.html :: header}"></header>

<div class="container mt-5">

    <form class="search" th:action="@{/library/author}" method="get">
        <input id="txtSearch" type="text" name="keyword">
        <button type="submit">Поиск</button>
    </form>

    <h1>Авторы</h1>
    <div sec:authorize="hasAuthority('EDITOR')">
        <a th:href="'/library/author/0/edit'" class="btn btn-warning">Добавить автора</a>
    </div>
    <div th:each="el : ${authors}" class="alert alert-info mt-2">
        <p th:text="${el.fullName}"/>
        <a th:href="'/library/author/' + ${el.id}" class="btn btn-warning">Подробнее</a>
    </div>
</div>


<!--<form th:action="@{/library/author}" method="get">-->
<!--    <input type="submit" th:href="@{/library/author(pageNo=${pageNo + 1})}"-->
<!--           value="Показать больше" class="btn btn-success">-->
<!--</form>-->


<footer th:insert="~{hf/footer.html :: footer}"></footer>
</body>
</html>