<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="hf/head.html :: head">
    <title>Добавление автора</title>
</head>
<body>
<header th:insert="~{hf/header.html :: header}"></header>
<div class="container mt-5 mb-5">
    <h1>Добавление автора</h1>
    <form action="/library/author/add" method="post">
        <input type="text" name="fullName" placeholder="Введите полное имя" class="form-control">
        <div class="input-group date">
            <input type="text" placeholder="Введите дату рождения" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
        <textarea name="biography" placeholder="Введите биографию" class="form-control"></textarea>
        <button type="submit" class="btn btn-success">Добавить автора</button>
    </form>
</div>
<footer th:insert="~{hf/footer.html :: footer}"></footer>
</body>
</html>