<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="hf/head.html :: head">
  +    <title>Редактирование/добавление автора</title>
</head>
<body>
<header th:insert="~{hf/header.html :: header}"></header>
<div class="container mt-5 mb-5">
  <h1>Редактирование/добавление автора</h1>
  <form action="/library/author/edit"
        method="post"
        modelAttribute="author"
        th:object="${author}">
    <div>
      <input  type="text" th:field="*{fullName}" name = "fullName" placeholder="Введите полное имя" class="form-control">
      <ul>
        <li th:each="err : ${#fields.errors('fullName')}" th:text="${err}" class="alert alert-danger"/>
      </ul>
    </div>
    <div>
      <div class="input-group date">
        <input type="text" th:field="*{birth}" name="birth" placeholder="Введите дату рождения" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
      </div>
      <ul>
        <li th:each="err : ${#fields.errors('birth')}" th:text="${err}" class="alert alert-danger"/>
      </ul>
    </div>
    <div>
      <textarea th:field="*{biography}" name="biography" placeholder="Введите биографию" class="form-control"></textarea>
      <ul>
        <li th:each="err : ${#fields.errors('biography')}" th:text="${err}" class="alert alert-danger"></li>
      </ul>
    </div>
    <input  type="hidden" th:field="*{guid}" name = "guid" placeholder="guid" class="form-control">
    <button type="submit" class="btn btn-success">Сохранить</button>
  </form>
</div>
<footer th:insert="~{hf/footer.html :: footer}"></footer>
</body>
</html>