<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:insert="hf/head.html :: head">
  <title>Информация о книгах</title>
</head>
<body>
<header th:insert="~{hf/header.html :: header}"></header>
<h2 th:text="${result}" class="alert alert-info mt-2"></h2>
<div class="container mt-5">
  <div th:each="el : ${book} "  class="alert alert-info mt-2">
    <p th:text="${el.name}"/>
    <p th:text="${#dates.format(el.publication, 'dd.MM.yyyy')}"/>
    <p th:text="${el.genre}"/><br><br>
    <p>Автор: </p>
      <p th:text="${el.author.fullName}"/>
    <a sec:authorize="hasAuthority('EDITOR')" th:href="'/library/book/' + ${el.id} + '/edit'" class="btn btn-warning">Редактировать</a><br><br>
    <button sec:authorize="hasAuthority('EDITOR')" class="btn btn-warning" type="submit">Удалить</button>
    </form>
  </div>
</div>
<footer th:insert="~{hf/footer.html :: footer}"></footer>
</body>
</html>