<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="hf/head.html :: head">
  <title>Редактирование книги</title>
</head>
<body>
<header th:insert="~{hf/header.html :: header}"></header>
<div class="container mt-5 mb-5">
  <h1>Редактирование/добавление книги</h1>
    <form action="/library/book/edit"
          method="post"
          modelAttribute="book"
          th:object="${book}">
      <div>
        <input  type="text" th:field="*{name}" name = "name" placeholder="Название книги" class="form-control">
        <ul>
          <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class = "alert alert-danger"/>
        </ul>
      </div>
      <div>
        <div class="input-group date">
          <input type="text" th:field="*{publication}" name="publication" placeholder="Введите дату публикации книги" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
        </div>
        <ul>
          <li th:each="err : ${#fields.errors('publication')}" th:text="${err}" class = "alert alert-danger"/>
        </ul>
      </div>
      <div>
        <textarea th:field="*{genre}" name="genre" placeholder="Введите жанр" class="form-control"></textarea>
        <ul>
          <li th:each="err : ${#fields.errors('genre')}" th:text="${err}" class = "alert alert-danger"></li>
        </ul>
      </div>
      <select name="authorId" >
        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
      </select>
      <input  type="hidden" th:field="*{guid}" name = "guid" placeholder="guid" class="form-control">
      <button type="submit" class="btn btn-success">Сохранить</button>
    </form>
  </div>
<footer th:insert="~{hf/footer.html :: footer}"></footer>
</body>
</html>