<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="hf/head.html :: head">
    <title>Добавление книги</title>
</head>
<body>
<header th:insert="hf/header.html :: header"></header>
<div class="container mt-5 mb-5">
    <h1>Добавление книги</h1>
    </div>
    <form action="/library/book/add" method="post">
        <input type="text" name="name" placeholder="Введите название" class="form-control">
        <input type="text" name="publication" placeholder="Введите дату публикации (дд.мм.гггг)" class="form-control">
        <input type="text" name="genre" placeholder="Введите жанр" class="form-control">
        <select id="author" name="author">
            <option value="">Выбор автора</option>
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
        </select>
        <button type="submit" class="btn btn-success">Добавить книгу</button>
    </form>
</div>
<footer th:insert="hf/footer.html :: footer"></footer>
</body>
</html>