<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="hf/head.html :: head">
    <title>Добавление книги</title>
</head>
<body>
<header th:insert="~{hf/header.html :: header}"></header>
<div class="container mt-5 mb-5">
    <h1>Добавление книги</h1>
    </div>
    <form action="/library/book/add"
          method="post"
          modelAttribute="book"
          th:object="${book}">
        <div>
            <input type="text" th:field="*{name}" name="name" placeholder="Введите название" class="form-control">
            <ul>
                <li th:each="err : ${#fields.errors('name')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <div>
            <div class="input-group date">
                <input type="text" th:field="*{publication}" name="publication" placeholder="Введите дату публикации" class="form-control"><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
            </div>
            <ul>
                <li th:each="err : ${#fields.errors('publication')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <div>
            <input type="text" th:field="*{genre}" name="genre" placeholder="Введите жанр" class="form-control">
            <ul>
                <li th:each="err : ${#fields.errors('genre')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <div>
            <select name="author">
                <option value="">Выбор автора</option>
                <option th:field="*{author}" th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}"></option>
            </select>
            <ul>
                <li th:each="err : ${#fields.errors('author')}" th:text="${err}" class="error"></li>
            </ul>
        </div>
        <button type="submit" class="btn btn-success">Добавить книгу</button>
    </form>
</div>
<footer th:insert="~{hf/footer.html :: footer}"></footer>
</body>
</html>