<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="hf/head.html :: head">
    <title th:text="${title}"/>
</head>
<body>
<header th:insert="hf/header.html :: header"></header>

<main>

    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Офисная библиотека</h1>
                <p class="lead text-body-secondary">Пользователь может взять тут книгу</p>
                <p>
                    <a href="https://github.com/kquezel" class="btn btn-primary text-center">GitHub</a>
                </p>
            </div>
        </div>
    </section>
</main>
<footer th:insert="hf/footer.html :: footer"></footer>
</body>
</html>